body{
    text-align: center;
}
.clearfix:after:{
    content: '';
    display: table;
    clear: both;
}
.container{
    max-width: 900px;
    white-space: 90%;
    margin: auto;
}
section.landing-page{
    height: 100vh;
    background-image: url(../img/01.jpg);
    background-size: cover;
    background-position: center;
    
}
header{
    max-width: 900px;
    margin: auto;
    font-size: 30px;
    font-weight: 600;
}
section.landing-page .logo{
    float: left;
}
section.landing-page nav{
    float: right;
}
section.landing-page li{
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    
}
section.landing-page .fa-bars{
    float: right;
    display: none;
}
section.info h2{
    margin-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
    color: brown;
    font-weight: 600;
}
section.info p{
    margin: 40px auto;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 50px;
    width: 80%;
}
section.bike-row1{
    font-size: 0;
}
section.bike-row1 .left-side{
    width: 66.66%;
    
}
section.bike-row1 .right-side{
    width: 33.33%;
    display: inline-block;
}
section.bike-row1 .right-side img{
    width: 100%;
}
section.bike-row1 .right-side h3{
    font-size: 25px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: brown;
    font-weight: 600;
}

section.bike-row1 .right-side p{
    font-size: 20px;
    margin-bottom: 65px;
    line-height: 30px;
    width: 90%;
    margin-left: 5%;
    
}